<div class="highlight">
    <h1>Create New Account!</h1>
  <hr />
</div>
<div class="middle-wrap">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email, 'Email:' %> <%= f.email_field :email %></div>

      <div><%= f.label :password, 'Password:' %> <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation, 'Confirm:' %> <%= f.password_field :password_confirmation %></div>
      <div>&nbsp;</div>
      <div id="devise-submit-wrap"><%= f.submit "Sign up" %></div>
    <% end %>

    <%= render "links" %>
</div>