<%= content_for :page_title do %>Pledge Politics :: Pledge a Vote For <%= @candidate.name %><% end %>

<%= content_for :head do  %>
    <%= javascript_include_tag 'ZeroClipboard' %>
    <%= javascript_include_tag 'pledge' %>
<% end %>

<% if @pledge %>
<script type="text/javascript">
    $(document).ready(function(){
        $.initializePledge('<%= @pledge.token %>', '<%= @pledge.id %>');
    });
</script>
<% end %>

<div class="highlight">
    <h1>Make Your Pledge!</h1>
   <p>

     
    <a class="button" href="<%= pledge_create_path(@candidate.slug) %>" id="pledge-button">
      Click To Pledge! <%=  image_tag 'ajax-loader.gif', id: 'pledge-spinner', style: 'display: none;' %>
    </a>
  </p>

  <div id="like-actions">
    <p>Like your pledge with facebook, twitter or google+ to tell others about your pledge to vote for <%= @candidate.name %>!</p>
    <div id="fb-root" style="float: left;"></div>
    <div class="pp-all-wrap">
      <div class='pp-like-wrap'><div id="google-plus-button" class="g-plusone" data-size="medium" data-annotation="none" data-href="<%= root_path %>" style="padding-top: 5px;"></div></div>
      <div class='pp-like-wrap'><a id="twitter-button" href="https://twitter.com/intent/tweet?button_hashtag=<%= @candidate.hash_tag %>&text=<%= tweet_text(@candidate) %>" class="twitter-hashtag-button" data-url="<%= root_path %>">Tweet #<%= @candidate.hash_tag %></a></div>
      <div  class='pp-like-wrap'><div class="fb-like" data-href="<%= root_path %>" data-send="false" data-width="75" data-show-faces="false" data-font="arial" data-layout="button_count"></div></div>
      <div style="clear: both;"></div>
    </div>
  </div>
    <hr />
</div>
<div id='pledge-actions' class="middle-wrap disabled-section">
    <h2>Invite A Friend To Pledge!</h2>
    <p>
      Invite others to pledge a vote for <%= @candidate.name %> along side you and together you can make a difference!
    </p>
    Send this pledge with facebook: <div class="fb-send" data-href="<%= root_path %>" data-font="arial"></div>
    <p> - or - </p>

        <%= form_for( Invite.new, as: :invite, url: invite_create_path, remote: true, method: :post ) do |f| %>
            <%= f.hidden_field :invite_pledge_id %>
        <p>
          <%=  f.label :email %>: <%= f.text_field :email, disabled: 'disabled' %> <%=  f.submit 'Invite Someone To Pledge!', disabled: true, id: 'invite_submit' %>
        </p>

        <% end %>
    <hr />

<h2>Share Your Pledge!</h2>

  <p>Send this link to anyone and they will know you pledged a vote for <%= @candidate.name %>!</p>
  <div>
    <label>Your Pledge Link: </label><input id="pledge-direct-link" type='text' value='' readonly="readonly" disabled="disabled" />
    <div id="d_clip_container" style="position:relative">
        <p>
            <%= link_to 'Copy To Clipboard', '#', id: 'd_clip_button', class: 'button', style: 'font-size: 14pt;' %>
        </p>
    </div>
  </div>
</div>

