<div class="highlight">
    <h1>Forgot your password?</h1>
  <hr />
</div>
<div class="middle-wrap">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email, 'Email:' %> <%= f.email_field :email %></div>
      <div>&nbsp;</div>
      <div id="devise-submit-wrap"><%= f.submit "Send me reset password instructions" %></div>
    <% end %>

    <%= render "links" %>
</div>