<div class="highlight">
  <h1>Contact Us!</h1>
  <hr />
</div>
<div class="middle-wrap">
    <h3>Pledge Politics</h3>

    <p>
    contact@pledgepolitics.com
    </p>

    <p>(612) 217-4668</p>
</div>
<div>
  <h3>Other</h3>
  <p>Login Icon used under creative commons license and provided by: <%=  link_to 'Komodo Media', 'http://www.komodomedia.com/blog/2009/06/sign-in-with-twitter-facebook-and-openid/' %></p>
</div>