<% content_for :head do %>
    <meta property="og:title" content="Pledge For Ron Paul" />
    <meta property="og:type" content="politician" />
    <meta property="og:url" content="<%= root_url %>" />
    <meta property="og:image" content="http://c306571.r71.cf1.rackcdn.com/logo.jpg" />
    <meta property="og:site_name" content="Pledge For Paul - Pledge Politics" />
    <meta property="fb:app_id" content="192527500854208" />


    <!-- Add the following three tags inside head -->
    <meta itemprop="name" content="Pledge For Ron Paul">
    <meta itemprop="description" content="Pledge For Paul - Pledge Politics.  Pledge a vote for Ron Paul.">
    <meta itemprop="image" content="http://c306571.r71.cf1.rackcdn.com/logo.jpg">

    <script type="text/javascript">
      $(document).ready(function(){
        //facebook init
          (function(d, s, id) {
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=192527500854208";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));

       //googleplus init
       gapi.plusone.go();

      //twitter init
      !function(d,s,id){
          var js,fjs=d.getElementsByTagName(s)[0];
          if(!d.getElementById(id)){
              js=d.createElement(s);
              js.id=id;
              js.src="//platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js,fjs);
          }
      }(document,"script","twitter-wjs");

      });
    </script>
<% end %>

<div class="highlight">
    <h1>Pledge A Vote For Your Favorite Candidate!</h1>
    <h3>Select a Candidate</h3>
  <div class="profile-holder">
  <% @candidates.each do |candidate| %>
      <div class="profile-block">
        <%= link_to image_tag(candidate.profile_image.url(:medium)), view_candidate_path(candidate.slug) %>
        <h4><%= link_to candidate.name, view_candidate_path(candidate.slug) %></h4>
        <span><%= "#{candidate.pledge_count} votes" %></span>
      </div>
  <% end %>
  </div>
  <div style="clear:both;"></div>
  <hr />
</div>

<div class='middle-wrap'>
  <div id="fb-root" style="float: left;"></div>
        <div class="pp-all-wrap">
          <div class='pp-like-wrap'><div id="google-plus-button" class="g-plusone" data-size="medium" data-annotation="none" data-href="<%= root_url %>" style="padding-top: 5px;"></div></div>
          <div  class='pp-like-wrap'><div class="fb-like" data-href="<%= root_url %>" data-send="true" data-width="75" data-show-faces="false" data-font="arial" data-layout="button_count"></div></div>
          <div class='pp-like-wrap'><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= root_url %>" data-hashtags="PledgePolitics">Tweet</a></div>
          <div style="clear: both;"></div>
        </div>

    <h2>How Does It Work?</h2>

    <p class='center-paragraph'>
      Pledge Politics allows you to cast a vote for your favorite 2012 GOP Nominee!  Show your support for your
      favorite candidate by creating an account or signing in with your preferred social network, and cast a vote now!
    </p>

    <p class="center-paragraph">
      Along with inviting someone to pledge, you will also be able to share your pledge on facebook!
    </p>

  <hr />
    <% if not user_signed_in? %>

      <p style="vertical-align: middle;">Login with: <%= link_to image_tag('facebook.png', style: 'vertical-align: middle;'), user_omniauth_authorize_path(:facebook) %>  <%= link_to image_tag('twitter.png', style: 'vertical-align: middle;'), user_omniauth_authorize_path(:twitter) %> <%= link_to image_tag('openid.png', style: 'vertical-align: middle;'), user_omniauth_authorize_path(:google) %></p>
        <p>- or -</p>
        <p>
          <%= link_to 'Sign Up!', new_user_registration_path, class: 'button' %>
        </p>
      <% end %>
</div>

