<div class="highlight">
  <h1>Want To Sponsor Pledge For Paul?</h1>
  <hr />
</div>
<div class="middle-wrap">
    <h2>Official Sponsors:</h2>
    <p>
      We invite official sponsorship for our pledge sites from official candidate campaigns or supporting political 
      action committees who just want to get the word out to vote for their candidate!
    </p>
  
  <p>
    When your organization sponsors A Pledge For Ron Paul, we will work with you to customize the theme of the
    site, custom icons for the site as well as a customized message for the candidate on the front page.
  </p>
    <p>
        contact@pledgepolitics.com
    </p>

    <p>(612) 217-4668</p>
</div>