<%= @username %> has invited you to pledge a vote for <%= @invite.inviting_pledge.pledge_topic.name %>!

Follow this link and you can pledge a vote for <%= @invite.inviting_pledge.pledge_topic.name %> too!

<%= invite_show_url(token: @invite.token) %>

Together we can make a difference!
