<div class="highlight">
    <h1>Sign In To Your Account!</h1>
    <hr />
</div>
<div class="middle-wrap">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email, 'Email:' %> <%= f.email_field :email %></div>

      <div><%= f.label :password, 'Password:' %> <%= f.password_field :password %></div>
      <div>&nbsp;</div>
      <div id="devise-submit-wrap"><%= f.submit "Sign in" %></div>
    <% end %>

    <%= render "links" %>
</div>