@import 'bourbon';

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    text-align: center;
    font-size: 20px;
    color: #080808;
    font-family: $georgia;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1 {
    padding: 50px 0 25px 0;
}

h2 {
    padding: 25px 0 12px 0;
}

p {
    margin: 1em 0 1em 0;
}

.middle-wrap {
    width: 950px;
    margin: 0 auto;
}

#total-vote-count {
    font-weight: 500;
    font-size: 24px;
}

#total-accepted-count {
    font-weight: 500;
    font-size: 24px;
}

.disabled-section {
    opacity: .6;
}

.center-paragraph {
    text-align: left; width: 650px; margin: 0 auto;
    padding: 1em 0 0 0;
}

.error, .alert, .notice, .success, .info {
    padding:0.8em;
    margin-bottom:1em;
    border-bottom: 2px solid #ddd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    z-index: 1000;
}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}

.hidden { display: none; }

.highlight {
    @include linear-gradient(#fff, #ffffdd);
}

.nav-bar-wrap {
  @include linear-gradient(#3D3D3D, #000);
  height: 30px;
}

.nav-bar {
  vertical-align: middle;
  padding-top: 5px;
  width: 950px;
  margin: 0 auto;
  color: #f0f0f0;
  font-weight: normal;
}

.nav-bar a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: normal;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.pp-all-wrap {
  width: 245px;
  margin: 0 auto;
}

.pp-like-wrap {
  float: left;
  padding: 0 0 0 5px;
}

#portal_index .pp-all-wrap {
    width: 305px;
}

footer {
    padding: 3em 0;
    color: #b8b8b8;
    min-height: 100px;
    font-size: 14px;
    border-top: 1px solid black;

    @include linear-gradient(#26292b, #000);
}

footer a, footer a:visited {
    color: #b8b8b8;
}

.twitter-count-horizontal {
    width: 80px;
}

input[type="email"], input[type="password"] {
   /* font-family: Arial, Sans-Serif;   */
    font-size: 13px;
    padding: 4px;
    border: solid 1px #000000;
    width: 300px;
    background-color: #f5f5f5;
}

input[type="submit"] {
    font-weight: bold;
    padding: 4px;
   font-size: 10pt;
}

.button {
  @include button;
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}

@import 'portal';
@import 'devise-custom';
@import 'pledge';