#devise-links-wrap a, #devise-links-wrap a:visited {
    color: #333333;
}

#devise-links-wrap a.button {
  color: #ffffff;
}

#registrations_new label, #sessions_new label, #passwords_new label {
  width: 85px;
  display: inline-block;
  text-align: left;
}

.new_user div {
  margin: 10px 0 0 0;
}

.middle-wrap {
  padding: 25px 0 0 0;
  min-height: 600px;
}

#devise-submit-wrap {
  text-align: right;
  width: 400px;
  margin: 0 auto;
}