// Place all the styles related to the pledge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#like-actions {
  display: none;
  margin-top: 1 em;
}
