// Place all the styles related to the Portal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-weight: 500;
    font-size: 58px;
}

h2 {
    font-size: 42px;
    font-weight: 500;
}

input[type='text']  {
  width: 600px;
  font-size: 14px;
  font-weight: bold;
}

.profile-holder {
  margin: 0 auto;
  width: 725px;
  text-align: center;
}

.profile-block {
  float: left;
  padding: 15px;
}

.profile-block a {
  text-decoration: none;
  color: #000000;
}
