<div id="devise-links-wrap">
    <p> - or - </p>

    <p style="vertical-align: middle;">Login with: <%= link_to image_tag('facebook.png', style: 'vertical-align: middle;'), user_omniauth_authorize_path(:facebook) %>  <%= link_to image_tag('twitter.png', style: 'vertical-align: middle;'), user_omniauth_authorize_path(:twitter) %> <%= link_to image_tag('openid.png', style: 'vertical-align: middle;'), user_omniauth_authorize_path(:google) %></p>

    <%- if controller_name != 'sessions' %>
      <%= link_to "Sign in", new_session_path(resource_name),  %><br />
    <% end -%>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <p> - or - </p>
      <%= link_to "Create Account", new_registration_path(resource_name), class: 'button' %><br />   <br />
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
    <% end -%>
</div>